<label for="title">Nome da Receita</label>
<input type="text" name="title" value={{food.title}}>
<label for="author">Autor da Receita</label>
<input type="text" name="author" value={{food.author}}>
<label for="image_url">Imagem</label>
<input type="text" name="image_url" value={{food.image_url}}>
<label for="ingredients[]">Ingredientes</label>
<div id="ingredients">
  {% for foodIngredient in food.ingredients %}
  <div class="ingredient">
    <input type="text" name="ingredients[]" value="{{foodIngredient}}" placeholder="Ingrediente" />
  </div>
  {% else %}
  <div class="ingredient">
    <input type="text" name="ingredients[]" placeholder="Ingrediente" />
  </div>
  {% endfor %}
  
</div>
<button type="button" class="add-ingredient"> <span>Adicionar Ingrediente</span> </button>
<label for="preparations[]">Modo de Preparo</label>
<div id="preparations">
{% for steps in food.preparations %}
  <div class="preparation">
    <input type="text" name="preparations[]" value="{{steps}}" placeholder="Passo" />
  </div>
{% else %}
  <div class="preparation">
      <input type="text" name="preparations[]" value="" placeholder="Passo" />
  </div>
{% endfor %}
  
</div>
<button type="button" class="add-preparation"><span>Adicionar novo passo</span></button>
<label for="information">Informações Adicionais</label>
<textarea name="information" value={{food.information}} cols="30" rows="10">

</textarea>