{% extends "admin/layout.njk" %}

{% set title = "Foodify - Admin" %}

{% block styles %}
  <link rel="stylesheet" href="/styles/admin/index.css">
{% endblock styles %}

{% block main %}

  <main>
    <div class="head">
      <h3>Gerenciar Receitas</h3>
      <a type="button" href="/admin/recipes/create"><span>Nova Receita</span></a>
    </div>
    
      <div class="cards">
      {% for data in dataIndex %}
      
        <div class="card" id="{{data.id}}">
          <img src="{{data.image_url}}" alt="{{data.title}} Image">
          <div class="card-info">
            <h4 class="card-name">
              {{data.title}}
            </h4>
            <span class="card-author">{{data.author}}</span>
            <a href="/admin/recipes/{{data.id}}">Visualizar</a>
          </div>
        </div>
      {% endfor %}
      </div>
  </main>

{% endblock main %}
