form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 940px;

}

form .head-form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
form button {
  position: static;
}
form button span {
  filter: none;
}