form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  width: 100%;
  max-width: 94.0rem;
  flex-wrap: wrap;

}

form .head-form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin-bottom: 3.0rem;
}
form button {
  position: static;
  max-width: 20.0rem;
}
form button span {
  filter: none;
  pointer-events: none;
}

form input, form label {
  display: block;
  text-align: left;
}
form label {
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: bold;
  margin-bottom: 1.0rem;
  margin-top: 3.0rem;
}

form input,
form select {
  display: block;
  width: 100%;
  border: .1rem solid #ddd;
  border-radius: .4rem;
  background-color: white;
  height: 5.0rem;
  padding: 1.0rem;
}
form textarea {
  outline: #777;
  border: .1rem solid #ddd;
  border-radius: .4rem;
  background-color: white;
  margin-bottom: 5.0rem;
  padding: 1.5rem;
  max-height: 25.7rem;
}

form div+button {
  margin-top: 1.5rem;
}

/* Delete */


#delete {
  background-color: #DC4747;
}

