@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --font-color: #111111;
  --font-color-2:#777;
}

* {
  margin: 0px;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  color: var(--font-color);
}

body {
  font-family: Roboto, sans-serif;
  list-style: none;
}

main {
  max-width: 940px;
  width: 90%;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  margin: 0 auto 30px;
  background-color: #111111;
  width: 100%;
}
header div {
  display: block;
  width: 100%;
  max-width: 940px;
  position: relative;   
}
header div a[type="button"] {
  padding: 8px 16px;
  background-color: #6558C3;
  
  position: absolute;
  right: 48px;
  top: 0;
  z-index: 1;
  cursor: pointer;
  border-radius: 2px;
  transition: ease-in-out 500ms;
}
header div a[type="button"] span {
  display: inline-block;
  color: #eeeeee;
  width: 100%;
  height:100%;
  filter: drop-shadow(0 20px 8px black );
}

header div a[type="button"]:hover {
  transition: ease-in-out 500ms;
  filter: brightness(125%);
}
h3 {
  font-weight: bold;
  font-size: 24px;
  color: #111111;
}
.cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.cards .card {
  display: flex;

}

.cards .card img {
  border-radius: 8px;
  width:172px;
  height: 80px;
  object-fit: fill;
  margin-right: 20px;
}
.cards .card .card-info * {
  display: block;
}
.cards .card .card-info .card-author + a {
  margin-top: 10px;
  display: block;
  font-weight: bold;
  font-size: 14px;
  color: #6558C3;
}

.cards .card .card-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.cards .card .card-info .card-name{
  color: var(--font-color);
  font-size: 18px;
  line-height: 21px;
}
.cards .card .card-info .card-author{
  color: var(--font-color-2);
  font-size: 14px;
  line-height: 16px;
  margin-top: 5px;
}