{% extends "admin/layout.njk" %}

{% set title = "Foodify - Admin" %}

{% block styles %}
  <link rel="stylesheet" href="/styles/admin/index.css">
{% endblock styles %}

{% block main %}

  <main>
    <h3>Nova Receita</h3>
      
  </main>

{% endblock main %}
