{% extends "admin/layout.njk" %}

{% set title = "Foodify - Admin" %}

{% block styles %}
  <link rel="stylesheet" href="/styles/admin/create.css">
{% endblock styles %}

{% block main %}

  <main>
    <input type="hidden" name="id" value={{food.id}}>
    <form action="/admin/recipes?_method=PUT" method='post'>
      <div class="head-form">
        <h3>Criando Receita</h3>
        <div>
          <button id="delete" type="button"><span>Deletar</span></button>
          <button type="submit"><span>Salvar receita</span></button>
        </div>
        
      </div>
      {% include "admin/form.njk" %}

      <input type="hidden" name="id" value={{food.id}}>
    
    </form>

      
  </main>

  <script>
    function addField(fieldName) {
    const fields = document.querySelector(`#${fieldName}s`);
    const fieldContainer = document.querySelectorAll(`.${fieldName}`);

    // Realiza um clone do último ingrediente adicionado
    const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true);

    // Não adiciona um novo input se o último tem um valor vazio
    if (newField.children[0].value == "") return false;

    // Deixa o valor do input vazio
    newField.children[0].value = "";
    fields.appendChild(newField);
  }

  function getFieldName(className){
    return className.slice(4);
  }

  const buttons = document.querySelectorAll("div+button");
  for (const button of buttons){
    button.addEventListener("click", (event) => {
      const fieldName = getFieldName(event.target.className)
      console.log(fieldName);
      return addField(fieldName)
    });
  
  }
    
  </script>

  <script>
    const form = document.querySelector("form");
    const deleteButton = document.querySelector("#delete");
    const deletePath = "/admin/recipes?_method=DELETE";
    deleteButton.addEventListener("click", function(event){
      form.setAttribute("action",deletePath);
      return form.submit()
    });
  </script>

{% endblock main %}
