<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <link rel="stylesheet" href="/styles/admin/main.css">
    {% block styles %}{% endblock styles %}

  </head>
  <body>
    <header>
      <div>
        <a href="/admin/recipes" class="logo"><img src="/assets/black-logo.png" alt="Logo Foodify"/></a>

        <a type="button" href="/admin/recipes/create">Nova Receita</a>
      </div>
      
    </header>

    {% block main %}{% endblock main %}

    {% block scripts %}




    {% endblock scripts %}

  </body>
</html>