#about {
  margin-top: 20px;
}

#about h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
}

#about p {
  margin: 20px 0 30px;
  font-size: 18px;
  color: #444;
  line-height: 28px;
}

#about p:last-child {
  margin-bottom: 50px;
}

a[href="about.html"] {
  font-weight: bold;
}