@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root {
  --font-color: #111111;
  --font-color-2:#777;
}

* {
  margin: 0px;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  color: var(--font-color);
}

body {
  font-family: Roboto, sans-serif;
  list-style: none;
}

main {
  max-width: 940px;
  width: 90%;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  margin: 0 auto 30px;
  width: 100%;
}
header div {
  display: block;
  width: 100%;
  max-width: 940px;   
}

header div a:first-child{
  margin-right: 122px;
}
header div a:last-child {
  margin-left: 30px;
}


footer {
  background-color: #eeeeee;
  color: #999;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding: 23px 0;
  width: 100%;
}


/* Cards */

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
}

.cards .card {
  position: relative;
  width:300px ;
  height: 202px;
  cursor: pointer;
  pointer-events: all;
}
.cards .card * {
  pointer-events: none;
}

.cards .card img{
  position: absolute;
  top: 0;
  border-radius: 15px;
  width: 100%;
  height: 140px;
  object-fit: cover;
}
.cards .card .card-info {
  position: absolute;
  bottom: 0;
}

.cards .card .card-info h4 {
  font-size: 18px;
  line-height: 21px;
}

.cards .card .card-info span {
  font-size: 14px;
  line-height: 16px;
  color: var(--font-color-2);
}

/* Modal */

.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .modal-content {
  position: relative;
  opacity: initial;
  width: 660px;
  height: 413px;
  background-color: white;
  border-radius: 16px;

  text-align: center;
}

.modal .modal-content img {
  margin: 30px 30px 20px 30px;
  height: 200px;
  width: 600px;
  border-radius: 15px;
}
 .modal .modal-content h3 {
   font-size: 24px;
   line-height: 28px;
   color: var(--font-color);
   font-weight: normal;
   margin-bottom: 5px;
 }

 .modal .modal-content span {
   font-size: 18px;
   line-height: 21px;

   color: #777;

 }


.modal .modal-content span:last-child {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%,0);

  cursor: pointer;
  font-size: 16px;
  line-height: 19px;
  color: #999;
}

.active {
  visibility: visible;
}
