a[href="recipes.html"]{
  font-weight: bold;
}

#recipes .cards{
  margin: 20px 0 50px;
}

.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .modal-content {
  position: relative;
  opacity: initial;
  width: 660px;
  height: 413px;
  background-color: white;
  border-radius: 16px;

  text-align: center;
}

.modal .modal-content img {
  margin: 30px 30px 20px 30px;
  height: 200px;
  width: 600px;
  border-radius: 15px;
}
 .modal .modal-content h3 {
   font-size: 24px;
   line-height: 28px;
   color: var(--font-color);
   font-weight: normal;
   margin-bottom: 5px;
 }

 .modal .modal-content span {
   font-size: 18px;
   line-height: 21px;

   color: #777;

 }


.modal .modal-content span:last-child {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%,0);


  font-size: 16px;
  line-height: 19px;
  color: #999;
}

.active {
  visibility: visible;
}

